
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/


.venv/
venv/
env/
*.env


.env
.env.*


*.db
*.sqlite3
.cache/
logs/


.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini


*~


.vscode/
.idea/
*.swp
*.swo

